<!-- <p>
  makeresrevation works!
</p>
<div>{{bus.FromId}}</div>
<button (click)=pay()>pay</button> -->
<h2 class="p">Bus Details</h2>
<table class="p">
  <tr>
    <td><h4><label><b>Bus Type:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.BusType}}" name="BusType" readonly ></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><h4><label><b>Bus No:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.BusRegNo}}" name="BusRegNo" readonly ></td>
  </tr>
  <tr>
    <td><h4><label><b>From:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.FromId}}" name="FromId" readonly ></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><h4><label><b>To:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.ToId}}" name="ToId" readonly ></td>
  </tr>
  <tr>
    <td><h4><label><b>Arrival Time:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.ArrivalTime}}" name="ArrivalTime" readonly ></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><h4><label><b>Departure Time:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.DepartureTime}}" name="DepartureTime" readonly ></td>
  </tr>
  <tr>
    <td><h4><label><b>Available Seats:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.Available}}" name="Available" readonly ></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><h4><label><b>Fare per Ticket:&nbsp;&nbsp;</b></label></h4></td>
    <td><input type="text" class="form-control" value="{{bus.JourneyFare}} Rs" name="Available" readonly ></td>
    
  </tr>
  <!-- <form #MyForm="ngForm" (ngSubmit)="Pay(myForm)"> -->
  <tr>
    <td><h4><label><b>Enter Number of Seats:</b></label></h4></td>
    <td><input [(ngModel)]="Seats" type="number" class="form-control" max="{{bus.Available}}" min="1" name="Seats"></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td><button type="button" class="btn btn-primary" (click)=calculate()>Proceed To Payment</button></td>
  </tr>
<!-- </form> -->
</table>
