
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
  <h2 class="w3-bar-item">Admin </h2>
  <a href="/dashboard/journeydetails" class="w3-bar-item w3-button"><b>JourneyDetails</b></a>
  <a href="/dashboard/showbuses" class="w3-bar-item w3-button"><b>Bus Details</b></a>
  <a href="/dashboard/showroute" class="w3-bar-item w3-button"><b>Route Details</b></a>
  <a href="/dashboard/reserv" class="w3-bar-item w3-button"><b>Reservation Deatails</b></a>
  <!-- <a href="/home" class="w3-bar-item w3-button" (click)="Logout()"><b>Sign Out</b></a> -->
</div>


<!-- Page Content -->
<div style="margin-left:15%">

<div class="w3-container w3-teal" style="background-color:rgb(151, 241, 14);">
  <h1>Welcome to Admin Dashboard</h1>
</div>

  <router-outlet></router-outlet>

</div>
      
</body>
</html>

