<div class="col-md-4"></div>
<div class="col-md-4">
<!-- <form #myForm="ngForm" (ngSubmit)="(myForm.value)"> -->
 <form >
  <br>
  <legend>Edit Route</legend>

  <div class="form-group">
      <label for="No">From</label>
      <input [(ngModel)]="route.FromId" type="text" class="form-control" id="name" name="FromId"> 
      <!-- <input type="text" class="form-control" id="Email" name="EmailId"> #FromId="ngModel" required> -->
  </div>

  <div class="form-group">
      <label for="Name">To</label>
      <input [(ngModel)]="route.ToId" type="text" class="form-control" id="Name" name="ToId">
      <!-- <input type="text" class="form-control" id="Name" name="Name">  #name="ngModel" required> -->      
  </div>

  <div class="form-group">
      <label for="Address">Route Distance</label>
      <input [(ngModel)]="route.RouteDistance" type="number" class="form-control" id="Password" name="RouteDistance" #Password="ngModel" required>
      <!-- <input type="text" class="form-control" id="Password" name="Password"> --> 
  </div>
 
  <button type="button"  (click)="Update()" class="btn btn-primary" [disabled]="!myForm.form.valid ">Edit</button>
</form>
<span>
    {{message}}
</span>
</div>
<div class="col-md-4"></div>


